/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

* {
  background-color: #f9f9f9;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/* form */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}

.form input {
  height: 30px;
  width: 200px;
  border-radius: 8px;
}

.form button {
  display: block;
  width: 120px;
  height: 24px;
  border: none;
  background-color: rgb(120, 181, 242);
  border-radius: 8px;
}

.form button:hover {
  background-color: rgb(83, 163, 244);
}

/* gallery */

.gallery {
  list-style: none;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.gallery-image {
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  margin-top: 4px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}